*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}

#main{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    
}
#logo{
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    position: fixed;
    display: flex ;
    align-items:end;
    justify-content:right ;
    

}

    .text{
        margin: 20px;
        font-size: x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: right;
        
        
        
    }

    .text:hover{
        color: rgb(245, 0, 0);
        
    }

    #logo2{
        width: 100vw;
        height: 10vh;
        background-color: whitesmoke;

    }

    

  

#body1{
       width: 100vw;
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
}
    
#personal{
    width: 30vw;
    height: 100vh;
    background-color: rgb(188, 188, 243);
    margin-left: 40px;
    margin-bottom: 0%;
    border-radius: 10%;
    
    

}
#image1{
    justify-content: center;
    align-items: center;
    display: flex;
}

#image1 img{
    height: 200px;
    margin-top: 5%;
    border-radius: 20%;
    object-fit:cover;
    display: flex;
    
      
}

.text1{
    font-family: cursive;
    font-size: small;
    margin: 25px;
    padding: px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    display: flex;
    
}
.text3{
    font-family: cursive;
    font-size: large;
    margin: 3%;
    margin-left: 5%;
    padding: 0px;
    justify-content:center;
    align-items:center;
    text-align: justify;
    display: flex;
}

.text2{
    font-family: cursive;
    font-size: x-large;
    margin: 1%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    display: flex;
    
} 

    #work{
    width: 30vw;
    height: 100vh;
    background-color: rgb(247, 181, 165);
    margin-left: 40px;
    margin-bottom: 0%;
    border-radius: 10%;
        
}
#skill{
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#skill img{
    height: 250px;
    margin-top: 1px;
    border-radius: 20%;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
        
}
#exp{
    margin-left: 5%;
    margin-top: 7%;
    
}
.ex1{
    background-color: brown;
    border: solid 2px;
    border-radius: 25px;
    padding: 10px;
    width: 75%;
    margin-bottom: 2%;
    
}

.ex2{
    background-color: brown;
    border: solid 2px;
    border-radius: 25px;
    padding: 10px;
    width: 90%;
    margin-bottom: 2%;
    
}

.ex3{
    background-color: brown;
    border: solid 2px;
    border-radius: 25px;
    padding: 10px;
    width: 60%;
    margin-bottom: 2%;
    
}

#life{
    width: 30vw;
    height: 100vh;
    background-color: rgb(98, 247, 130);
    margin-left: 40px;
    margin-bottom: 0%;
    border-radius: 10%;

}

.text4{
    font-family: cursive;
    font-size:small;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    justify-content:center;
    align-items:center;
    text-align: center;
    display: flex;
    font-style: italic;
    color: rgba(15, 9, 70, 0.705);
}
.text5{
    font-family: cursive;
    font-size:small;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    justify-content:center;
    align-items:center;
    text-align: center;
    display: flex;
    font-style: italic;
    color: rgba(15, 9, 70, 0.705);
}

 
#body2{
        width: 100vw;
        height: 100vh;
        display: flex;
        margin-top: 2%;
    }

#project1{
       
    width: 75vw;
    height: 100vh;
    background-color: rgb(137, 137, 240);
    border-radius: 50px;
    
    
}

#photo{
     height: 90.75vh;
    width: 100vw;
    
    display: flex;
}



#interior1{
    border: solid 1px;
    height: 90.75vh;
    width: 25vw;
    image-rendering: auto;
}
#building1{
    border: solid 1px;
    height: 90.75vh;
    width: 25vw;
    background-color: rgb(62, 226, 130);
}
#outdoor1{
    border: solid 1px;
    height: 90.75vh;
    width: 25vw;
    background-color: rgb(78, 60, 233);
}

#interior1 img{
  height: 100%;
    margin-top: 0%;
    margin-right: 80%;
    border-radius: 0%;
    object-fit:cover;
    display: flex;
}

#building1 img{
  height: 100%;
    margin-top: 0%;
    border-radius: 0%;
    object-fit:cover;
    display: flex;
    margin:auto;
}

#outdoor1 img{
  height: 100%;
    margin-top: 0%;
    border-radius: 0%;
    object-fit:cover;
    display: flex;
}

#contact{
       
    width: 25vw;
    height: 100vh;
    background-color: rgb(52, 116, 73);
    
}

#message{
width: 25vw;
    height: 70vh;
    background-color: rgb(31, 255, 106);
}

