/* Resets*/

*{
    max-width: 1180px;
    justify-content: center;
    align-items: center;
        box-sizing: border-box;

}

:root{
    --primary-text-color: blue;
    --secondary-tect-color: red;
    --accent-color:rgb(121, 61, 61);
    --padding-inline-section:20px;

}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;

}

h3{
    font-size: 1.5rem;
}

p{
    font-family: cursive;
    font-size: 1.25rem ;
    color: var(--secondary-tect-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
hr{
    border: solid 1px;
    background-color: black;
    color: black;
}
/* utility classes*/

.banner{
    font-family: fantasy;
    font-size: 1rem;

}

.container{
    margin-inline:auto;
    max-width: 1180px;
    padding-inline: var(--padding-inline-section);
}

.banner-text{
    color: rgb(0, 51, 95);
    padding: 15px 30px;
    text-align: center;
}
.banner{
    background-color: aqua;
}

/* nav bar */

.logo {
    
    color: var(--secondary-text-color);
    display: flex;
    align-items:end;
    justify-content: center;
    gap: var(--padding-inline-section);
    
}
.text1{
    font-family: 'Times New Roman';
    font-size: large;
    padding: 10px 10px;
    color: brown;
}
.text1:hover{
    color: antiquewhite;
    border: solid 2px;
    background-color: bisque;
}

a{
    color: brown;
}

/* intro */
.intro{
    height: 500px;
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    border: solid 1px;
    height: 400px;
    width: 400px;
    background-image: url(Images/photo1.jpg);
    background-size: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.text2{
    font-family: 'Times New Roman';
    font-size: large;
    padding: 10px 10px;
    color: brown;
    text-align: justify;
    
}

/* Experience */
.exp{
    height: 600px;
    width: 1180px;
    
    display: flex;
    
}
  .works-skills{
    width: 500px;
    height: 600px;
    
    justify-content: center;
    align-items: center;
           
}
.box1{
   justify-content: center;
   align-items: center;
    height: 300px;
    width: 350px;
    background-image: url(Images/image.png);
    background-position: center;
    margin-left: 40px;
    background-size: 90%;
    background-repeat: no-repeat;
    
}
.skills{
    width: 680px;
    height: 600px;
    background-color: rgb(236, 230, 230);
    
    
}

#skill img{
    width: 75%;
    margin-top: 1%;
    border-radius: 20%;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
        
}
#expe{
    margin-left: 5%;
    margin-top: 7%;
    background-color: aqua;
}
.ex1{
    background-color: brown;
    border: solid 0.1%;
        padding: 3%;
    width: 75%;
    margin-bottom: 2%;
    
}

.ex2{
    background-color: brown;
    border: solid 0.1%;
        padding: 3%;
    width: 90%;
    margin-bottom: 2%;
    
}

.ex3{
    background-color: brown;
    border: solid 0.1%;
        padding: 3%;
    width: 60%;
    margin-bottom: 2%;
    
}

#life{
    width: 30vw;
    height: 100vh;
    background-color: rgb(98, 247, 130);
    margin-left: 3%;
    margin-bottom: 0%;
    border-radius: 10%;

}

.text4{
    font-family: cursive;
    font-size:small;
    padding: 0%;
    justify-content:center;
    align-items:center;
    text-align: center;
    display: flex;
    font-style: italic;
    color: rgba(15, 9, 70, 0.705);
}
.text5{
    font-family: cursive;
    font-size:small;
    margin-bottom: 50px;
    padding: 0%;
    justify-content:center;
    align-items:center;
    text-align: center;
    display: flex;
    font-style: italic;
    color: rgba(15, 9, 70, 0.705);
    text-wrap: initial;
}

 

/* work */
.work{
    height: auto;
    width: auto;
    display: flex;
    
    
}
.interior1{
border: solid 1px;
height: 350px;
width: 350px;
background-image: url(Images/Interior101.png);
justify-content: center;
align-items: center;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
margin-right: 20px;
}
.building1{
    border: solid 1px;
    height: 350px;
width: 350px;
    background-image: url(Images/birgunj.jpg);
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.outdoor1{
    border: solid 1px;
    height: 350px;
width: 350px;
    background-image: url(Images/outdoor.jpg);
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}